<section class="row">
    <div class="col-md-12">
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-pause="false">
                 <!-- Wrapper for carousel items -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../static/images/hostelname.jpg" class="d-block w-100" alt="Slide 1" width="500px" height="500px">
                        
                    </div>
                    <div class="carousel-item">
                        <img src="../static/images/premiumhostel2.jpg" class="d-block w-100" alt="Slide 2" height="500">
                        
                    </div>
                    <div class="carousel-item">
                        <img src="../static/images/hostel1.avif" class="d-block w-100" alt="Slide 3" height="500">
                        
                    </div>
                    <div class="carousel-item">
                        <img src="../static/images/hostel2.jpg" class="d-block w-100" alt="Slide 4" height="500">
                        
                    </div>
                    <div class="carousel-item">
                        <img src="../static/images/hostel3.webp" class="d-block w-100" alt="Slide 5" height="500">
                        
                    </div>
                </div>
                <!-- Controls -->
                 <!-- Carousel controls -->
                <a class="carousel-control-prev" href='#myCarousel' data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href='#myCarousel' data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
                
        </div>
    </div>
</section>