    <section class="row">
            <div class="card shadow p-3" >
                <h1>Please give us your feedback</h1>
                <form action="/reviewsform" method="post">
                    <h2 class="text-success">{{success}}</h2>
                    <input type="email" name="email" placeholder="Your email"required> <br><br>

                    <input type="text" name="feedback" placeholder="Please type your feedback"required> <br><br>

                    <input type="text" name="name" placeholder="Your name"required> <br><br>

                    <input type="submit" value="Add review" class="btn btn-info">
                    


                </form>
            </div>
            
    </section>
